{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    "strict": 0,

    "curly": 0,
    "consistent-this": [2, "self"],
    "dot-notation": [2, {"allowPattern": "^__\\w+$"}],
    "eqeqeq": 2,
    "indent": [2, 2],
    "new-cap": 2,
    "new-parens": 0,
    "no-multiple-empty-lines": 2,
    "no-spaced-func": 2,
    "no-use-before-define": 0,
    "no-var": 2,
    "space-in-brackets": [2, "never"],
    "space-in-parens": [2, "never"],
    "quotes": 0,
  }
}
